body {
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display:flex;
    flex-direction: column;
}

.header {
    background: #091117;
    display: flex;
    justify-content: space-between;
    padding: 8px 128px;
    flex-shrink: 1;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #f0b031;
    display: flex;
    align-items: center;
}

.links {
    display: flex;
    gap: 16px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #f0b031;
}

.main {
    background-color: #091117;
    padding: 64px 128px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.intro {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.herohead {
    font-size: 48px;
    font-weight: 800;
    color: #f0b031;
    margin-bottom: 12px;
}

.heropar {
    font-size: 18px;
    color: #f0b031;
    margin-bottom: 20px;
}

.heroimg {
    height: 300px;
    width: min-content;
    border-radius: 10%;
    border: 1px solid #ec3127;
}

.imgtitle {
    text-align: center;
    color: #f0b031;
    font-weight: 200;
    font-size: 12px;
}

button {
    height: fit-content;
    width: fit-content;
    font-size: 20px;
    color: #f0b031;
    border: none;
    border-radius: 8px;
    background: #474921;
    padding: 8px 16px;
    align-self: center;
}

.pictures {
    background: #ec3127;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 40px 128px;
    padding-bottom: 80px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
    flex-basis: 200px;
    flex-grow: 1;
}

.title {
    font-size: 36px;
    font-weight: 800;
    color: #091117;
    text-shadow: 2px 2px #f0b031;
    margin-bottom: 32px;
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #091117;
    text-shadow: 2px 2px #f0b031;
    margin-bottom: 12px;
}

.container img {
    height: 150px;
    width: 150px;
    border: 4px solid #091117;
    box-shadow: 2px 2px #f0b031;
    border-radius: 5%;
    margin-bottom: 12px;
}

.container div {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: center;
    color:#f0b031;
    font-size: 18px;
    font-weight: 300;
    text-shadow: 2px 2px #091117;
}

.quote {
    background: #738684;
    display: flex;
    flex-direction: column;
    padding: 100px 400px;
}

.quoteact {
    color: #091117;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 12px;
}

.quoteatt {
    color: #091117;
    align-self: flex-end;
    font-style: italic;
    font-size: 20px;
}

.signup {
    background: #ec3127;
    padding: 80px 20%;
}

.action {
    background: #474921;
    padding: 32px 48px;
    border: 5px solid #f0b031;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.actionhead{
    font-size: 18px;
    font-weight: 500;
    color: #f0b031;
    margin-bottom: 4px;
}

.actionpar {
    color: #f0b031;
    font-weight: 200;
}

.action button {
    border: 2px solid #f0b031;
    padding: 8px 16px;
}

.footer {
    background: #091117;
    color: #f0b031;
    padding: 32px 128px;
    display: flex;
    justify-content: center;
    align-items: center;
}